html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  font-family: sans-serif;
}

.dropzone {
  align-items: center;
  border-radius: 2px;
  border: 2px dashed #c8c8c8;
  color: #969696;
  display: flex;
  flex: 1;
  justify-content: center;
}
